@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 3rem;
  background: #121212;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
